*{
    margin:0;
    padding:0;
    list-style-type:none;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #20020c;
    position: relative;
}

h1{
    font-size:32px;
    color:#fff;
    margin-bottom:35px;
}

.container{
    width:1000px;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: #ffd1dc;
    display: block;
}

header{
    width: 100%;
    background-color: #681630;
    margin-bottom:35px;
    height: 53.2px;
}

header ul{
    display: flex;
    justify-content: center;
}

header ul li{
    font-size:18px;
    color: #fff;
    font-weight: 500;
    transition:0.3s all ease-in-out;
}

header ul li a{
    
    padding:15px 20px;
}

header ul li:hover{
    background-color: #D20000;
    color:#fff;
}
header ul li:first-child:hover{
    background-color:transparent;
    color:#fff;
}

header ul li:first-child a:first-child{
    margin-right:15px;
    padding:0;
    height: 53.2px;
}

header ul li a img{
    margin-top:1.5px;
    width:120px;
    height: 50px;
}

main{
    display: flex;
    
    border-radius: 5px;
}

.main-left{
    display:flex;
    flex:3;
    flex-direction: column;
}

.main-right{
    flex:2;
}

.main-left h4{
    font-size:25px;
    margin-bottom:15px;
    color:#fff;
    
}

.main-left p{
    font-weight:500;
    margin-bottom:15px;
    color: #ffd1dc;
    font-size:15px;
}

.main-left img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}



.card{
    padding:30px 20px 0px 20px;
    border-radius: 5px;
    background-color: #681630;
    margin-bottom:35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card .photo-card {
    margin-bottom:30px;
}

.card .photo-card{
    transform: scale(1.01);
}

.card .photo-card img{
    width:300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    transition: 0.2s transform ease-in-out;
    cursor: pointer;
}

.card .photo-card img:hover{
    transform: scale(1.03);
}



footer{
    background-color: #681630;
    padding:20px;
    position: relative;
    margin-top: 35px;
}

footer p{
    color:#fff;
    text-align: center;
}

.hamburger{
    display: none !important;
}

.responsive-menu{
    display: none;
}

@media (min-width:640px) and (max-width:1039px){
    .main-right{
        display: none;
    }

    .card{
        width: 100%;
    }

    .container{
        width:700px;
        padding:0 20px;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger{
        display:flex !important;
        color:#fff;
        font-size:26px;
        cursor: pointer;
    }

    .responsive-menu{
        display: none;
        position:absolute;
        background-color: #D20000;
        color:#fff;
        transform: translateX(-50%);
        width: 100%;
        left:50%;
        top:53.2px;
        z-index:100;
    }
    
    .responsive-menu ul{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    
    .responsive-menu ul li a{
        padding:15px 30px;
        font-weight: 500;
        font-size:18px;
        
    }

    .responsive-menu ul li {
        width: 100%;
        text-align: center;
        transition: 0.2s all ease-in-out;
    }

    .responsive-menu ul li:hover{
        background-color: #002497;
    }
    
    .responsive-menu.show{
        display: block !important;
    }
}


@media (min-width:150px) and (max-width:639px){
    .main-right{
        display: none;
    }


    .container{
        width:340px;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 53.2px;
    }

    .hamburger{
        display:flex !important ;
        color:#fff;
        font-size:26px;
        cursor: pointer;
    }

    .responsive-menu{
        display: none;
        position:absolute;
        background-color: #D20000;
        color:#fff;
        transform: translateX(-50%);
        width: 100%;
        left:50%;
        top:53.2px;
        z-index:100;
    }
    
    .responsive-menu ul{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    
    .responsive-menu ul li a{
        padding:15px 30px;
        font-weight: 500;
        font-size:18px;
        
    }

    .responsive-menu ul li {
        width: 100%;
        text-align: center;
        transition: 0.2s all ease-in-out;
    }

    .responsive-menu ul li:hover{
        background-color: #002497;
    }
    
    .responsive-menu.show{
        display: block !important;
    }
}

@media (max-width:1039px){
    header ul{
        display: none;
    }
}








