*{
    margin:0;
    padding:0;
    list-style-type:none;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body{
     background-color: #20020c;
    position: relative;
}

.container{
    width:1000px;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: #ffd1dc;
    display: block;
}

header{
    width: 100%;
    background-color: #681630;
    margin-bottom:35px;
    height: 53.2px;
}

header ul{
    display: flex;
    justify-content: center;
}

header ul li{
    font-size:18px;
    color: #fff;
    font-weight: 500;
    transition:0.3s all ease-in-out;
}

header ul li a{
    
    padding:15px 20px;
}

header ul li:hover{
    background-color: #D20000;
    color:#fff;
}

header ul li:first-child:hover{
    background-color:transparent;
    color:#fff;
}

header ul li:first-child a:first-child{
    margin-right:15px;
    padding:0;
    height: 53.2px;
}

header ul li a img{
    width:120px;
    height: 50px;
}



main{
    display: flex;
    
    border-radius: 5px;
}

.main-left{
    display:flex;
    flex:3;
    flex-direction: column;
    margin-right:35px;
}

.main-right{
    flex:2;
}

.main-left h4{
    font-size:25px;
    margin-bottom:15px;
    color:#fff;
    
}

.main-left p{
    font-weight:500;
    margin-bottom:15px;
    color: #ffd1dc;
    font-size:15px;
}

.main-left img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.hamburger{
    display: none !important;
}

.responsive-menu{
    display: none;
}

@media (min-width:640px) and (max-width:1039px){
    .main-right{
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 100%;
    }

    .container{
        width:675px;
        padding:0 20px;
    }

    .main-left{
        margin-right:0 !important;
    }

    .hamburger{
        display:flex !important;
        color:#fff;
        font-size:26px;
        cursor: pointer;
    }

    .responsive-menu{
        display: none;
        position:absolute;
        background-color: #D20000;
        color:#fff;
        transform: translateX(-50%);
        width: 100%;
        left:50%;
        top:53.2px;
    }
    
    .responsive-menu ul li a{
        padding:15px 30px;
        font-weight: 500;
        font-size:18px;
        
    }

    .responsive-menu ul li {
        width: 100%;
        text-align: center;
        transition: 0.2s all ease-in-out;
    }

    .responsive-menu ul li:hover{
        background-color: #002497;
    }
    
    .responsive-menu.show{
        display: block !important;
    }

    
}


@media (min-width:150px) and (max-width:639px){
    .main-right{
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 53.2px;
    }

    .card{
        width: 100%;
    }

    .container{
        width:400px;
    }

    .main-left{
            margin-right:0 !important;
    }

    .hamburger{
        display:flex !important ;
        color:#fff;
        font-size:26px;
        cursor: pointer;
    }

    .responsive-menu{
        display: none;
        position:absolute;
        background-color: #D20000;
        color:#fff;
        transform: translateX(-50%);
        width: 100%;
        left:50%;
        top:53.2px;
    }
    
    .responsive-menu ul{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    
    .responsive-menu ul li a{
        padding:15px 30px;
        font-weight: 500;
        font-size:18px;
        
    }

    .responsive-menu ul li {
        width: 100%;
        text-align: center;
        transition: 0.2s all ease-in-out;
    }

    .responsive-menu ul li:hover{
        background-color: #002497;
    }
    
    .responsive-menu.show{
        display: block !important;
    }
}

@media (max-width:1039px){
    header ul{
        display: none;
    }
}

form{
    display: inline-flex;
    flex-direction: column;
    
}

form h3{
    color:#fff;
    margin-bottom:15px;
}

input{
    width:300px;
    border-radius: 5px;
    outline:none;
    border:2px solid #eee;
    margin-bottom:15px;
    padding:10px;
    font-weight: 500;
    font-size:15px;

}

.inputs form input:nth-child(2n){
    margin-bottom:20px;
}

button{
    width:100px;
    padding:10px 10px;
    background-color: #ffd1dc;
    border-radius:5px;
    border:none;
    color:#150019;
    font-weight:500 ;
    cursor: pointer;
    font-size:16px;

}

.loginButton{
    margin-left:auto;
}

form span{
    margin-bottom:8px;
    color:#fff;
}

.inputs{
    display: flex;
    justify-content: center;
    padding:20px;
    border-radius: 5px;
    transition:0.3s all ease-in-out;
    background-color: #681630;
    margin-bottom:35px;
}

.inputs:hover{
    transform:translate(10px,-10px);
    box-shadow: -10px 10px 0px 0 #20020c;
}

.card{
    padding:20px;
    border-radius: 5px;
    background-color: #681630;
    margin-bottom:35px;
}

.wotd{
    padding:20px;
    border-radius: 5px;
    background-color: #681630;
    color:#fff;
}

.wotd h3{
    margin-bottom: 15px;
}

.wotd img{
    width: 100%;
    border-radius: 5px;
    margin-top:15px;
}

.wotd p{
    color:#ffd1dc;
    font-weight: 500;
}

footer{
    background-color: #681630;
    padding:20px;
    position: relative;
    margin-top: 35px;
}

footer p{
    color:#fff;
    text-align: center;

}











